<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="zxx">
      
   
   <head>
      <% include header.html %>  
   </head>
   <body>

      <% include banner.html %>
      
      <!-- //Blog -->
      <section class="py-md-3 py-sm-3 py-3">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-8">
                  <!--Blog-one -->
                  <div class="about-agile-img ">
                     <div class="row blog-bloged-about ">
                        <div class="col-lg-7 col-md-7 about-wthree-info">
                           <h4 class="my-3"> Lorem ipsum</h4>
                           <div class="news-date-list">
                              <ul>
                                 <li ><a href="singlepage.html" class="text-muted">12/June/2019</a></li>
                                 <li><a href="singlepage.html" class="text-muted">3 Tags</a></li>
                              </ul>
                           </div>
                           <h5 class="my-lg-4 mt-md-3 mt-3">velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse</h5>
                           <div class="line-w3ls-title">
                              <!-- Just It is line -->
                           </div>
                           <div class="about-blog-agile">
                              <p>Suspendisse tincidunt velit velit sagittis vehicula. Duis posuere  mollis iaculis.</p>
                           </div>
                           <div class="row blog-img-center">
                              <div class="col-lg-5 col-md-6 col-sm-6 outs_more-buttn">
                                 <a href="singlepage.html">Read More</a>
                              </div>
                              <div class="col-lg-7 col-md-6 col-sm-6 icons mt-lg-3 mt-3 px-0">
                                 <ul>
                                    <li class="mt-2">
                                       <h6> Share</h6>
                                    </li>
                                    <li><a href="singlepage.html"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="singlepage.html"><span class="fas fa-envelope"></span></a></li>
                                    <li><a href="singlepage.html"><span class="fab fa-twitter"></span></a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                           <!-- There is no contant empty Div for position Img -->
                        </div>
                     </div>
                     <div class="blog-img-top">
                        <!-- Just a image -->
                     </div>
                  </div>
                  <!--//Blog-one -->
                  <!-- Blog-Two -->
                  <div class="blog-text">
                     <div class="blog-two-img">
                        <!-- Just a image -->
                     </div>
                     <div class="blog-agile-text-middle">
                        <h4>eiusmod tempor</h4>
                        <h5 class="pt-3">consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet tempor incididunt Lorem ipsum sit amet tempor incididunt Lorem ipsum</h5>
                        <div class="news-date-list text-sm-right">
                           <ul>
                              <li ><a href="singlepage.html" class="text-muted">12/June/2019</a></li>
                              <li><a href="singlepage.html" class="text-muted">3 Tags</a></li>
                           </ul>
                        </div>
                        <div class="row blog-img-center">
                           <div class="col-lg-6 col-md-6 col-sm-6 outs_more-buttn">
                              <a href="singlepage.html">Read More</a>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 icons text-sm-right mt-3">
                              <ul>
                                 <li><a href="singlepage.html"><span class="fab fa-facebook-f"></span></a></li>
                                 <li><a href="singlepage.html"><span class="fas fa-envelope"></span></a></li>
                                 <li><a href="singlepage.html"><span class="fab fa-twitter"></span></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- //Blog-Two -->
                  <!-- //Blog-three -->
                  <div class="mt-lg-5 mt-md-5 mt-sm-4 mt-3 about-agile-img">
                     <div class="row blog-bloged-about">
                        <div class="col-lg-5 col-md-5">
                           <!--There is no contant empty Div for position Img-->
                        </div>
                        <div class="col-lg-7 col-md-7 about-wthree-info">
                           <h4 class="my-3"> Lorem ipsum</h4>
                           <div class="news-date-list">
                              <ul>
                                 <li ><a href="singlepage.html" class="text-muted" >12/June/2019</a></li>
                                 <li><a href="singlepage.html" class="text-muted" >3 Tags</a></li>
                              </ul>
                           </div>
                           <h5 class="my-lg-4 mt-md-3 mt-3">velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse</h5>
                           <div class="line-w3ls-title">
                              <!-- Just It is line -->
                           </div>
                           <div class="about-blog-agile">
                              <p>Suspendisse tincidunt velit velit sagittis vehicula. Duis posuere  mollis iaculis.</p>
                           </div>
                           <div class="row blog-img-center">
                              <div class="col-lg-5 col-md-6 col-sm-6 outs_more-buttn">
                                 <a href="singlepage.html">Read More</a>
                              </div>
                              <div class="col-lg-7 col-md-6 col-sm-6 icons mt-lg-3 mt-3 px-0">
                                 <ul>
                                    <li class="mt-2">
                                       <h6> Share</h6>
                                    </li>
                                    <li><a href="singlepage.html"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="singlepage.html"><span class="fas fa-envelope"></span></a></li>
                                    <li><a href="singlepage.html"><span class="fab fa-twitter"></span></a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="blog-img-left text-center">
                        <!-- Just a image -->
                     </div>
                  </div>
                  <!-- //Blog-three -->
                  <!-- Blog-four -->
                  <div class="blog-text">
                     <div class="blog-two-img">
                     </div>
                     <div class="blog-agile-text-middle">
                        <h4>eiusmod tempor</h4>
                        <h5 class="pt-3">consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet tempor incididunt Lorem ipsum sit amet tempor incididunt Lorem ipsum</h5>
                        <div class="news-date-list text-sm-right">
                           <ul>
                              <li ><a href="singlepage.html" class="text-muted">12/June/2019</a></li>
                              <li><a href="singlepage.html" class="text-muted" >3 Tags</a></li>
                           </ul>
                        </div>
                        <div class="row blog-img-center">
                           <div class="col-lg-6 col-md-6 col-sm-6 outs_more-buttn">
                              <a href="singlepage.html">Read More</a>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 icons text-sm-right mt-3">
                              <ul>
                                 <li><a href="singlepage.html"><span class="fab fa-facebook-f"></span></a></li>
                                 <li><a href="singlepage.html"><span class="fas fa-envelope"></span></a></li>
                                 <li><a href="singlepage.html"><span class="fab fa-twitter"></span></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- //Blog-four-->
                  <!-- //Blog-five -->
                  <div class="row blog-text mt-0 info-grids-blog">
                     <div class="col-lg-6 col-md-6 blog-grid-w3layouts-img">
                        <div class="blog-three-img">
                           <!-- Just a image -->
                        </div>
                        <div class="blog-agile-text text-center p-lg-4 p-3">
                           <h4>eiusmod tempor</h4>
                           <h5 class="pt-3">consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum </h5>
                           <div class="news-date-list text-center mt-2">
                              <ul>
                                 <li><a href="singlepage.html" class="text-muted">12/June/2019</a></li>
                                 <li><a href="singlepage.html" class="text-muted">3 Tags</a></li>
                              </ul>
                           </div>
                           <div class="blog-bloged">
                              <div class="outs_more-buttn">
                                 <a href="singlepage.html">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 blog-grid-w3layouts-img">
                        <div class="blog-three-img">
                           <!-- Just a image -->
                        </div>
                        <div class="blog-agile-text text-center p-lg-4 p-3">
                           <h4>eiusmod tempor</h4>
                           <h5 class="pt-3">consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum </h5>
                           <div class="news-date-list text-center mt-2">
                              <ul>
                                 <li><a href="singlepage.html" class="text-muted">12/June/2019</a></li>
                                 <li><a href="singlepage.html" class="text-muted">3 Tags</a></li>
                              </ul>
                           </div>
                           <div class="blog-bloged">
                              <div class="outs_more-buttn">
                                 <a href="singlepage.html">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--//Blog-five-->
                  <!-- pagination-blog-->
                  <div class="pagination-blog">
                     <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                           <li class="page-item active">
                              <a class="page-link " href="#" tabindex="-1">Previous</a>
                           </li>
                           <li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                           </li>
                        </ul>
                     </nav>
                  </div>
                  <!-- //pagination-blog-->
               </div>
               <div class="col-lg-4">
                  <!--map-->
                  <div class="address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>Where Are We</h3>
                     </div>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3539.812628729253!2d153.014155!3d-27.4750921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a0835840a2f%3A0xdd5e3f5c208dc0e1!2sMelbourne+St%2C+South+Brisbane+QLD+4101%2C+Australia!5e0!3m2!1sen!2sin!4v1492257477691"></iframe>
                  </div>
                  <!-- //map--> 
                  <!--About-->
                  <div class="mt-lg-4 mt-3 address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>About Us</h3>
                     </div>
                     <div class="wthree-about-us-info text-center">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                     </div>
                     <div class="my-3 icons-social text-center">
                        <h4> Follow Us</h4>
                     </div>
                     <div class="icons text-center">
                        <ul>
                           <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                           <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                           <li><a href="#"><span class="fas fa-rss"></span></a></li>
                           <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                           <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                        </ul>
                     </div>
                     <div class="blog-abut-img mt-3">
                        <img src="/images/aa1.jpg" class="img-fluid" alt="">
                     </div>
                  </div>
                  <!--//About-->
                  <!--News Letter-->
                  <div class="mt-lg-4 mt-3 address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>News Letter</h3>
                     </div>
                     <div class="news-about-us">
                        <form action="#" method="post">
                           <div class=" subscribe-form ">
                              <div class="form-group contact-forms">
                                 <input type="email" class="form-control" placeholder="Enter" required="">
                              </div>
                              <div class="click-subscribe">
                                 <button type="submit" class="btn btn-block click-me">Subscribe</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <!--//News Letter-->
                  <!--Categories-->
                  <div class="mt-lg-4 mt-3 address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>Categories</h3>
                     </div>
                     <div class="agile-categories-list text-center">
                        <ul>
                           <li class="pb-2">
                              <a href="about.html">Modern Style</a>
                           </li>
                           <li class="py-2">
                              <a href="about.html">Simply Style</a>
                           </li>
                           <li class="py-2">
                              <a href="about.html">Urban Style</a>
                           </li>
                           <li class="py-2">
                              <a href="about.html">Unique Style</a>
                           </li>
                           <li class="py-2">
                              <a href="about.html">Elegant Style</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!--//Categories-->
                  <!--Tags-->
                  <div class="mt-lg-4 mt-3 address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>Tags</h3>
                     </div>
                     <div class="tages-w3layouts-list text-center">
                        <ul >
                           <li>
                              <a href="about.html">About</a>
                           </li>
                           <li>
                              <a href="home.html">Home</a>
                           </li>
                           <li>
                              <a href="service.html">Service</a>
                           </li>
                           <li>
                              <a href="blog.html">Blog</a>
                           </li>
                           <li>
                              <a href="blog_one.html">Blog2</a>
                           </li>
                           <li>
                              <a href="contact.html">Contact</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!--//Tags-->
                  <!--Side-blog-->
                  <div class="mt-lg-4 mt-3 address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>Blog</h3>
                     </div>
                     <div class="dance-agile-info">
                        <div class="footer-grid row mb-3">
                           <div class="col-lg-4 col-md-6 col-sm-6 col-5 text-right">
                              <img src="/images/bb1.jpg" alt=" " class="img-fluid">
                           </div>
                           <div class="col-lg-8 col-md-6 col-sm-6 col-7 bottom-para px-0">
                              <h6><a href="singlepage.html" >ultricies nec,pellen eu,pretium</a></h6>
                              <div class="news-date-list pt-2">
                                 <ul>
                                    <li><a href="singlepage.html" class="clr-two">12/June/2019</a></li>
                                    <li><a href="singlepage.html" class="clr-two">3 Tags</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="footer-grid row  mb-3">
                           <div class="col-lg-4 col-md-6 col-sm-6 col-5 text-right">
                              <img src="/images/bb2.jpg" alt=" " class="img-fluid">
                           </div>
                           <div class="col-lg-8 col-md-6 col-sm-6 col-7 bottom-para px-0">
                              <h6><a href="singlepage.html" >ultricies nec,pellen eu,pretium</a></h6>
                              <div class="news-date-list pt-2">
                                 <ul>
                                    <li><a href="singlepage.html" class="clr-two" >12/June/2019</a></li>
                                    <li><a href="singlepage.html" class="clr-two" >3 Tags</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="footer-grid row  mb-3">
                           <div class="col-lg-4 col-md-6 col-sm-6 col-5 text-right">
                              <img src="/images/bb3.jpg" alt=" " class="img-fluid">
                           </div>
                           <div class="col-lg-8 col-md-6 col-sm-6 col-7 bottom-para px-0">
                              <h6><a href="singlepage.html" class="scroll">ultricies nec,pellen eu,pretium</a></h6>
                              <div class="news-date-list pt-2">
                                 <ul>
                                    <li><a href="singlepage.html" class="clr-two">12/June/2019</a></li>
                                    <li><a href="singlepage.html" class="clr-two">3 Tags</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="footer-grid row">
                           <div class="col-lg-4 col-md-6 col-sm-6 col-5 text-right">
                              <img src="/images/bb1.jpg" alt=" " class="img-fluid">
                           </div>
                           <div class="col-lg-8 col-md-6 col-sm-6 col-7 bottom-para px-0">
                              <h6><a href="singlepage.html" class="scroll">ultricies nec,pellen eu,pretium</a></h6>
                              <div class="news-date-list pt-2">
                                 <ul>
                                    <li><a href="singlepage.html" class="clr-two" >12/June/2019</a></li>
                                    <li><a href="singlepage.html" class="clr-two" >3 Tags</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--//Side-blog-->
                  <!--Contact Us-->
                  <div class="mt-lg-4 mt-3 address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>Contact Us</h3>
                     </div>
                     <div class="contact-blog-us">
                        <form action="#" method="post">
                           <div class=" contact-wls-detail">
                              <div class="agile-wls-contact-mid">
                                 <div class="form-group contact-forms">
                                    <input type="text" class="form-control" placeholder="Name" required="">
                                 </div>
                                 <div class="form-group contact-forms">
                                    <input type="email" class="form-control" placeholder="Enter" required="">
                                 </div>
                              </div>
                              <div class="countact-text">
                                 <div class="form-group contact-forms">
                                    <textarea class="form-control" rows="3" required=""></textarea>
                                 </div>
                                 <button type="submit" class="btn sent-butnn">Send</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <!--//Contact Us-->
               </div>
            </div>
         </div>
      </section>
      <!-- //Blog -->
      <!--Gallery-->
      <section class="py-lg-5 py-md-4 py-sm-3 py-3">
         <div class="container-fluid">
            <div class="hover12">
               <ul id="flexiselDemo3">
                  <li>
                     <div class=" snap-img">
                        <div class=" agileits_w3layouts_gallery_grid1 hover08">
                           <div class="w3_agile_gallery_effect">
                              <a href="/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                 <figure>    <img src="/images/g3.jpg" alt=" " class="img-fluid"> </figure>
                              </a>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="snap-img">
                        <div class=" agileits_w3layouts_gallery_grid1 hover08">
                           <div class="w3_agile_gallery_effect">
                              <a href="/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                 <figure>    <img src="/images/g1.jpg" alt=" " class="img-fluid"> </figure>
                              </a>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class=" snap-img">
                        <div class="agileits_w3layouts_gallery_grid1 hover08">
                           <div class="w3_agile_gallery_effect">
                              <a href="/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                 <figure>    <img src="/images/g4.jpg" alt=" " class="img-fluid"> </figure>
                              </a>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="snap-img">
                        <div class="agileits_w3layouts_gallery_grid1 hover08">
                           <div class="w3_agile_gallery_effect">
                              <a href="/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                                 <figure>    <img src="/images/g2.jpg" alt=" " class="img-fluid"> </figure>
                              </a>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
         <div class="clearfix"></div>
      </section>
      <!--//Gallery-->
      <% include footer.html %>
   </body>
</html>